@import 'variables';
@import 'reset';
@import 'header';
@import 'section';
@import 'media-queries';

.container {
  max-width: $container-max-width;
  width: 100%;
  margin: 0 auto;
}

body {
  background-color: $background-color;
}